@model IEnumerable<GraniteWarehouse.Models.ProductTypes>
@{
    ViewData["Title"] = "Index";
}

<br /><br />

<div class="row">
    <div class="col-6">
        <h2 class="text-info"> Product Type List</h2>
    </div>
    <div class="col-6">
        <a asp-action="Create" class="btn btn-info">New Product Type</a>
    </div>
</div>

